entrypoint = "main.swift"

modules = ["swift"]

compile = "swiftc main.swift ./Entities/*.swift ./Handlers/*.swift ./Managers/*.swift ./Protocols/*.swift ./Services/*.swift"
run = "./main"

[nix]
channel = "stable-23_05"
